{% extends 'base_no_tabs.html.twig' %}

{% block title %}ChessCheat: Login required!{% endblock %}

{% block body %}

<span style="font-size:22pt;padding:0 0 20px; 0">Login</span><br/>

<p>In order to be able to upload your games to ChessCheat and submit them for analysis you need
to login. Choose the account you want to login with:</p>

<table cellspacing=3 cellpadding=5><tr>
<td>
<a href="/connect/facebook"><img src="img/facebook_icon.png"/></a>
</td>
<td><a href="/connect/facebook">Log in with Facebook</a></td>
</tr>
<tr>
<td>
<a href="/connect/google"><img src="img/google_icon.png"/></a>
</td>
<td><a href="/connect/google">Log in with Google</a></td>
</tr>
<tr>
<td>
<a href="/connect/lichess"><img src="img/lichesslogo.svg" height="32"/></a>
</td>
<td><a href="/connect/lichess">Log in with Lichess</a></td>
</tr>
</table>

{% endblock %}
