<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body onload="showGameDetails(0);$('.tagsinput#form-tags').addTag('1-0');$('.tagsinput#queue-form-tags').addTag('Pending');">
        {% block body %}{% endblock %}

        <script>
            const APP_HOST = '{{ app_host }}';
        </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
